<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650825982023-jhoaqhiqo525rj6t3j3u4bq2je23c798.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650825982023-jhoaqhiqo525rj6t3j3u4bq2je23c798</string>
	<key>API_KEY</key>
	<string>AIzaSyC5E1VTSlyEmGHPxwv4pSlCGxvLiu7IlQY</string>
	<key>GCM_SENDER_ID</key>
	<string>650825982023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ludoFlutter</string>
	<key>PROJECT_ID</key>
	<string>nludo-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>nludo-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650825982023:ios:84120cd4b6eb785fbfd162</string>
</dict>
</plist>